body { font-size: 12pt; font-family: Arial; background-color: #702963;
    color: #FFA500; margin: 20px 20px;}
    
h1 { font-size: 2.5em; font-family: Garamond, serif; color: #fff000} 
h2 { font-family: Georgia, serif; color: #e5d715} 
h3 { font-family: "Times New Roman", serif; color: #c2b723}

p { font-size: 1.3em; font-family: Helvetica; color: #AFE1AF; }

A:visited, A:link{text-decoration: underline; color: skyblue;}
A:active {background: #CBC3E3; text-decoration: overline; color: ghostwhite}
A:hover {font-size: 18pt; font-weight: bold; 
    text-decoration: underline; color: greenyellow;}
