body { font-size: 12pt; font-family: Arial; background-color: #702963;
    color: #DD571C; margin: 20px 20px;}
    
h1 { font-family: Palatino, serif; color: #fff000} 
h2 { font-family: Georgia, serif; color: #e5d715} 
h3 { font-family: "Times New Roman", serif; color: #c2b723}

p { font-family: Helvetica; color: #FCAE1E; }
