body { font-size: 12pt; font-family: Arial; background-color: #702963;
    color: #ffa500; margin: 20px 20px;}
    
h1 { font-size: 3em; font-weight: bold; 
    text-decoration: underline; font-family: Garamond, serif; 
    text-align: center; color: #fff000} 
h2 { font-size: 2em; font-family: Georgia, serif; color: #e5d715} 
h3 { font-size: 1.5em; font-family: "Times New Roman", serif; color: #c2b723}

p { font-size: 1.2em; font-family: Helvetica; color: #ffc550; }

A:visited, A:link{text-decoration: underline; color: skyblue;}
A:active {background: #CBC3E3; text-decoration: overline; color: ghostwhite}
A:hover {font-size: 18pt; font-weight: bold; 
    text-decoration: underline; color: greenyellow;}

table {border-collapse: collapse;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5D3FD3;
    padding: 8px;
    border: 1px solid #faff00;
  }
tr {
    padding: 8px;
    border: 1px solid #faff00;
}


.divleft {font-family: Helvetica; color: #cdff50;
    background-color: #8365fc}

.divright {font-family: Arial; color: #cdff50;
    background-color: #9d87f8}